#**************************************************************#
###===============CONFIGURATION FILE FOR AMON================###
###=======YOU CAN ADD/REMOVE/MODIFY EXISTING PARAMETERS======###
###=======ACCORDINGLY MODIFY Config Struct of AMON===========###
###==========================================================###
#**************************************************************#

ALARM_SLEEP = 1
DEFAULT_SNAPLEN = 128
DEFAULT_DEVICE = eth0
MONGO_DB_CLIENT = mongodb://10.0.0.1:27017/
DATABASE = amon
DB_COLLECTION = databricks
SEED = 134
STRATA_FILE = strata.txt
